/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.homeOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #ffffff;
}

.homeInnerContainer {
  width: 50%;
}

.inputContainer {
  display: inline-block;
  /* text-align: right; */
}

.textInput {
  border-radius: 0;
  border: 1px solid #2979FF;
  padding: 15px 20px;
  width: 80%;
}

.numberInput {
  border-radius: 0;
  border: 1px solid #2979FF;
  padding: 15px 20px;
  width: 10%;
}

.heading {
  color: #2979FF;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #2979FF;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}


label {
  color: #2979FF;
  font-weight: bold;
  width: 150px;
  margin: 10px;
}

.mt-20 {
  margin-top: 20px;
}

button:focus {
  outline: 0;
  background-color: rgb(170, 195, 248);
}

